extends layout

block content
    #container.container
        #preViewPic

block imageScript
    script(type='text/javascript').
      $(document).ready(function(){
      	window.initCanvas({
      		imgId	: 8, 
      		imgName	: 'AirbnbChina'
      	});
      });




    