doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.10.0.custom.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/jquery.minicolors.css')
    link(rel='stylesheet', href='/stylesheets/colorPicker.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery.postitall.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/integralui.menu.css')
    link(rel='stylesheet', href='/stylesheets/themes/theme-flat-light.css')
    link(rel='stylesheet', href='/stylesheets/feedback.css')
    link(rel='stylesheet', href='/stylesheets/boardContainer.css')

  body
    block content
    script(src='/javascripts/libs/jquery-1.9.1.min.js')
    script(src='/javascripts/libs/jquery-ui-1.10.1.min.js')
    script(src='/javascripts/libs/bootstrap.min.js')
    script(src='/javascripts/libs/underscore.js')
    script(src='/javascripts/libs/backbone.js')
    script(src='/javascripts/libs/underscore.js')
    script(src='/javascripts/libs/backbone.localStorage.js')
    script(src='/javascripts/libs/jquery.minicolors.js')
    script(src='/javascripts/libs/colorPicker.min.js')
    script(src='/javascripts/libs/jquery.postitall.js')
    script(src='/javascripts/angular.js')
    script(src='/javascripts/angular-touch.js')
    script(src='/javascripts/angular-local-storage.js')
    script(src='/javascripts/ui-utils.js')
    script(src='/javascripts/libs/main.js')
    script(src='/javascripts/js/angular.integralui.min.js')
    script(src='/javascripts/js/angular.integralui.menu.min.js')
    script(src='/javascripts/libs/html2canvas.js')
    script(src='/javascripts/js/amazeui.min.js')
    script(src='/javascripts/js/boardContainerModels.js')
    script(src='/javascripts/js/boardContainerView_alone.js')
    script(src='/javascripts/js/boardContainer.js')
    script(src='/javascripts/js/utils.js')
    script(src='/javascripts/comment_code.js')

    block imageScript
