doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.10.0.custom.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/jquery.minicolors.css')
    link(rel='stylesheet', href='/stylesheets/colorPicker.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery.postitall.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/integralui.menu.css')
    link(rel='stylesheet', href='/stylesheets/themes/theme-flat-light.css')
    link(rel='stylesheet', href='/stylesheets/feedback.css')
    link(rel='stylesheet', href='/stylesheets/boardContainer.css')

  body
    block content
